"*":
  "exception-reporting":
    userId: "d80d9d6b-216a-82db-254b-ac3ae72e1925"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "symbols-view"
      "linter-clang"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "highlight-selected": {}
  minimap:
    plugins:
      "highlight-selected": true
  tabs: {}
  docblockr: {}
  "smart-tab-name": {}
  "you-complete-me": {}
  "autocomplete-plus": {}
  "autocomplete-clang": {}
  "new-tab":
    position: "Left"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "ctags-status":
    outerScope: true
  "atom-ctags": {}
  "glsl-preview": {}
  linter: {}
  "linter-clang": {}
